#navbarSeccionHoraTemperatura{
    margin-left: 10%;
    width:30%;
}


#mensajeTemperatura{
    display: none;
    margin-top: 10px;
    border: inset #444343;
    background-color: #fdfdfd;
    height: 300px; 
    position: absolute; 
    width: 200px; 
    z-index: 100;
    text-align: center;
    padding-top: 25%;
    font-size: 20px;
}

.dropdown-content a{
    display: none;
}

.dropdown:hover #mensajeTemperatura{
    display: block;
}



#imagenPokemon{
    height: 150px;
    width: 150px;
}
.colTiempo{
    padding-top: 10px;
}
